//header color
$header-color: rgb(233, 103, 95);
#firstIcon {
  margin-left: 10%;
  border-radius: 20px 20px 20px 20px;
}
#secondIcon {
  margin-left: 5%;
  border-radius: 20px 20px 20px 20px;
}
#thirdIcon {
  margin-left: 5%;
  border-radius: 20px 20px 20px 20px;
}
#header-upline {
  padding-bottom: 1%;
  border-bottom-width: 7.5vw;
  border-color: $header-color;
  border-bottom-style: solid;
  display: block;
}
#header-line {
  padding: 0.3vw;
  border-bottom-width: 3vw;
  border-color: $header-color;
  border-bottom-style: solid;
}

.Icon {
  background-color: $header-color;
  margin-top: 3vw;
}
