//header color
$header-color: rgb(233, 103, 95);

#header-line {
  padding: 0.3vw;
  border-bottom-width: 2vw;
  border-color: $header-color;
  border-bottom-style: solid;
}

header {
  padding-bottom: 1%;
  border-bottom-width: 6vw;
  border-color: $header-color;
  border-bottom-style: solid;
  display: block;
}
