$About: #ffda00;
$Interview: #e75480;
$Memo: #6ca0dc;

#left-tabs-example-tab-first {
  margin-top: 5vw;
  background-color: $About;
  color: black;
  border-radius: 24px 0 0 24px;
  font-size: 2.5vw;
}
#left-tabs-example-tab-second {
  background-color: $Interview;
  color: black;
  border-radius: 24px 0 0 24px;
  font-size: 2.5vw;
}

#left-tabs-example-tab-third {
  background-color: $Memo;
  color: black;
  border-radius: 24px 0 0 24px;
  font-size: 2.5vw;
}
#left-tabs-example-tabpane-first {
  display: subgrid;
  clear: both;
}

.nav-item {
  width: 10vw;
  height: 30vw;
  margin-left: 3vw;
  padding: 0;
}
.row {
  display: grid !important;
  grid-template-columns: 1fr 7fr;
}
